html {
  background-color: #162447;
  color: #ffffff;
}

.bigbutton {
  display: inline-block;
  border-radius: 8px;
  background-color: #1f4068;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.bigbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.bigbutton span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.bigbutton:hover span {
  padding-right: 25px;
}

.bigbutton:hover span:after {
  opacity: 1;
  right: 0;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button {
  display: inline-block;
  border-radius: 8px;
  background-color: rgba(187, 134, 252, 0.6);
  border: none;
  color: #ffffff;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button:hover {
  background-color: rgba(187, 134, 252, 1);
}

.button:clicked {
  background-color: rgba(200, 150, 255, 1);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-right: 5px;
  font-family: monospace;
  border-radius: 8px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #33557e;
  color: white;
}
