html {
  background-color: #162447;
  color: #ffffff;
  font-family: Arial;
}

.bigbutton {
  display: inline-block;
  border-radius: 8px;
  background-color: #1f4068;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.bigbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.bigbutton span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.bigbutton:hover span {
  padding-right: 25px;
}

.bigbutton:hover span:after {
  opacity: 1;
  right: 0;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button {
  display: inline-block;
  border-radius: 8px;
  background-color: rgba(187, 134, 252, 0.6);
  border: none;
  color: #ffffff;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button:hover {
  background-color: rgba(187, 134, 252, 1);
}

.button:clicked {
  background-color: rgba(200, 150, 255, 1);
}

.sidenav {
  height: 100%;
  width: 40px;
  position: absolute;
  margin-bottom: 100%;
  float: left;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #1b1b2f;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.3s;
}

.sidenav a {
  padding: 8px 0px 8px 8px;
  text-decoration: none;
  margin-right: 50px;
  right: 50px;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
}

.sidenav a:hover {
  color: #d6d6d6;
}

.sidenav a.active {
  color: white;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.sidespace {
  margin-right: 25px;
  margin-left: 0px;
}

.row {
  display: flex;
}
.sideways {
  margin-left: 40px;
}

.col {
  flex: 1;
  background-color: #1b1b2f;
  border-radius: 8px;
  border: 0px;
  padding: 1em;
  margin: 5px;
  font-family: monospace;
}

.zentrierterText {
  text-align: center;
}

.zentrierterTabelle {
  margin-left: auto;
  margin-right: auto;
}

.zentrierterTabelle input {
  border: 0px;
  border-radius: 4px;
  background-color: #2f5b91;
  color: #fff;
}

.zentrierterTabelle ::placeholder {
  color: rgba(255, 255, 255, 0.712);
}

.divbox {
  flex: 1;
  display: table;
  position: absolute;
  top: 25%;
  left: 45%;
  background-color: #1b1b2f;
  border-radius: 8px;
  border: 0px;
  padding: 1em;
  margin: 5px;
}

.divboxreg {
  flex: 1;
  display: table;
  position: absolute;
  top: 25%;
  left: 40%;
  background-color: #1b1b2f;
  border-radius: 8px;
  border: 0px;
  padding: 1em;
  margin: 5px;
}

.divbox td {
  text-align: end;
}

.divboxreg td {
  text-align: end;
}

.btna {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border-radius: 8px;
  background-color: #2f5b91;
  color: #fff;
  text-decoration: none;
  font-size: small;
  padding: 4px;
}

.btna:hover {
  background-color: #3b75bb;
}

.stat {
  margin-left: auto;
  margin-right: auto;
  border-radius: 25%;
  border-color: #fff;
  border: 2px solid white;
  border-left: 2px solid white;
  text-align: center;
  border-collapse: collapse;
}

.stat td {
  border-left: 2px solid white;
  border-bottom: 0.5px solid grey;
  border-radius: 8px;
}

.stat th {
  border-bottom: 2px solid white;
}

.stat img {
  width: 40px;
  height: 40px;
}

.stat input {
  border: 0;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border-radius: 8px;
  text-align: center;
  background-color: #1b1b2f;
  margin: 10px;
  width: 50px;
  color: #fff;
  text-decoration: none;
  font-size: small;
  padding: 4px;
}

.stat input[type="button"] {
  width: 20px;
  background-color: #2f5b91;
  margin: 5px;
}

.drop {
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  border-color: #fff;
  border: 1px solid white;
  text-align: center;
}

.drop select {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 8px;
  background-color: #2f5b91;
  margin: 5px;
  color: #fff;
}
.drop option {
  width: 20px;
  border-radius: 8px;
  background-color: #2f5b91;
  margin: 5px;
  color: #fff;
}

.drop label {
  padding-left: 5px;
}
