html {
  background-color: #162447;
  color: #ffffff;
  font-family: Arial;
}

.bigbutton {
  display: inline-block;
  border-radius: 8px;
  background-color: #1f4068;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.bigbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.bigbutton span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.bigbutton:hover span {
  padding-right: 25px;
}

.bigbutton:hover span:after {
  opacity: 1;
  right: 0;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button {
  display: inline-block;
  border-radius: 8px;
  background-color: rgba(187, 134, 252, 0.6);
  border: none;
  color: #ffffff;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button:hover {
  background-color: rgba(187, 134, 252, 1);
}

.button:clicked {
  background-color: rgba(200, 150, 255, 1);
}

.sidenav {
  height: 100%;
  width: 40px;
  position: absolute;
  margin-bottom: 100%;
  float: left;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #1b1b2f;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.3s;
}
/* FIXME fix Navbar */
.sidenav a {
  padding: 8px 0px 8px 8px;
  text-decoration: none;
  margin-right: 50px;
  right: 50px;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
}

.sidenav a:hover {
  color: #d6d6d6;
}

.sidenav a.active {
  color: white;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.sidespace {
  margin-right: 25px;
  margin-left: 0px;
}

.row {
  display: flex;
}

.col {
  flex: 1;
  background-color: #1b1b2f;
  border-radius: 8px;
  border: 0px;
  padding: 1em;
  margin: 5px;
  font-family: monospace;
}
